# source parameters
runfile/pol1.source

# source parameters
runfile/pol2.source

# source parameters
runfile/pol3.source

# polynomial order of last amr iteration
1

# linear solver configuration
runfile/model.solver

# model file
runfile/model.cond

# mesh file
runfile/model.msh

# geomagnetic sites file
runfile/model.site

# upper and lower boundary marker
1
#  AMR method: 0-goal-oriented AMR, 1-non-goal-oriented AMR, 2-global mesh refinement, default = 0
0

# Iterations of adaptive h-refinement (mesh refinement) nt 
2

# Max_dofs	
1000000000

# Marking parameter that controls refinement elements;0<beta<1, smaller beta refines more elements, default = 0.05
0.001

#print vtk
0


